{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
{% image self.blog_image fill-900x400 as banner %}

<div class="blog_img text-center">
    <img src="{{banner.url}}" alt="{{banner.alt}}">
</div>


<div class="container">
    <div class="text-center">{{self.custom_title}}</div>
    <ul>
    {% for iter in self.blog_authors.all %}
    {% image iter.author.image fill-100x100 as img %}
    <li>
        <img src="{{img.url}}" alt="{{iter.author.name}}">
        {{iter.author.name}}
        {% if iter.author.website %}
        <a href="{{iter.author.website}}">website</a>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-ld-2">
            {% for block in self.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
